@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
        padding-left: 1rem;
        font-size: 40px;
    }
    .container {
        max-width: 1180px;
        padding: 2rem;
    }
    header h2, .hidden {
        display: inline-block;
        margin-right: 0.5rem;
    }
    .flex.info-ricetta {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .flex.info-ricetta > * {
        flex-basis: calc(100% / 3 - 2rem / 3);
    }
    .social-media button {
        flex-basis: 15%;
        font-size: 1.5rem;
    }

    .tell-about img {
        width: 40%;
        float:left;
        margin-right: 0.5rem;
    }

    .link-container {
        max-width: 70%;
        margin: 0 auto;

    }

}